<% if (allrecs.length > 0) {%>
    <table border=1>
        <tr>
            <th> OrderLine ID </th>
            <th> Order Number </th>
            <th> Product ID </th>
            <th> Qty </th>
            <th> Sale Price </th>
        </tr>
    <% allrecs.forEach((recref, index) => { %>
    <tr>
        <td><%= recref.LineItemID %></td>
        <td><%= recref.OrderNumber %></td>
        <td><%= recref.Product_ID %></td>
        <td><%= recref.Qty %></td>
        <td><%= recref.SalePrice %></td>




        <td><a href='/orderline/<%= recref.LineItemID %>/show'>Details</a></td>
        <td><a href='/orderline/<%= recref.LineItemID %>/edit'>Edit</a></td>
        <td><a href='/orderline/<%= recref.LineItemID %>/delete' onclick="return confirm('Are you sure you want to delete this record?');">Delete</a></td>
    </tr>
    <% }); %>
    </table>
    <% } else { %>
    <p>Not Records Available</p>
    <% } %>
    <p> <a href='/orderline/addrecord'>Add New</a> </p>

    