<h1> Details </h1>
<table>
<tr> <td> Orderline ID: </td> <td> <%= onerec.LineItemID %> </td> </tr>
<tr> <td> Order Number: </td> <td> <%= onerec.OrderNumber %> </td> </tr>
<tr> <td> Product ID: </td> <td> <%= onerec.Product_ID %> </td> </tr>
<tr> <td> Qty: </td> <td> <%= onerec.Qty %> </td> </tr>
<tr> <td> Sale Price: </td> <td> <%= onerec.SalePrice %> </td> </tr>
</table>


