<% if (allrecs.length > 0) {%>
    <table border=1>
        <tr>
            <th> Supplier ID </th>
            <th> Company Name </th>
            <th> Contact Name </th>
            <th> City </th>
            <th> Country </th>
            <th> Phone Number </th>
        </tr>

    <% allrecs.forEach((recref, index) => { %>
        <tr>
            <td><%= recref.Supplier_ID %></td>
            <td><%= recref.CompanyName %></td>
            <td><%= recref.ContactName %></td>
            <td><%= recref.City %></td>
            <td><%= recref.Country %></td>
            <td><%= recref.Phonenumber %></td>

<td> <a href='/supply/<%= recref.Supplier_ID %>/show'>Details</a>
</td> <td><a href='/supply/<%= recref.Supplier_ID%>/edit'>Edit</a></td>
<td> <a href='/supply/<%= recref.Supplier_ID %>/delete' onclick="return confirm('Are you sure you want to delete this record?');">Delete</a></td>
    </tr>
    <% }); %>
    </table>
    <% } else { %>
        <p>Not Records Available</p>
    <% } %>

<p> <a href='/supply/addrecord'>Add New</a> </p>