<h1> Edit Product</h1>
<form action="/supply/save" method="post">
<input type="hidden" name="Supplier_ID" value="<%= onerec.Supplier_ID %>" >
<table>
<tr> <td> Supplier ID: </td> <td> <input type="text" name="productname" value="<%= onerec.Supplier_ID %>" required> </td> </tr>
<tr> <td> Company Name: </td> <td> <input type="text" name="prodimage" value="<%= onerec.CompanyName %>" required> </td> </tr>
<tr> <td> Contact Name: </td> <td> <textarea name="text" rows="10" cols="30"><%= onerec.ContactName %></textarea> </td> </tr>
<tr> <td> City: </td> <td> <textarea name="text" rows="10" cols="30"><%= onerec.City %></textarea> </td> </tr>
<tr> <td> Country: </td> <td> <input type="text" name="duration" value="<%= onerec.Country %>" required> </td> </tr>
<tr> <td> Phone Number: </td> <td> <input type="text" name="country" value="<%= onerec.Phonenumber %>" required> </td> </tr>
    </table>
        <button type="submit">Save</button>
</form>
