<h1> Details </h1>
<table>
    <tr> <td> Supplier ID: </td> <td> <%= onerec.Supplier_ID %> </td> </tr>
    <tr> <td> Company Name: </td> <td> <%= onerec.CompanyName %> </td> </tr>
    <tr> <td> Contact Name: </td> <td> <%= onerec.ContactName %> </td> </tr>
    <tr> <td> City: </td> <td> <%= onerec.City %> </td> </tr>
    <tr> <td> Country: </td> <td> <%= onerec.Country %> </td> </tr>
    <tr> <td> Phone Number: </td> <td> <%= onerec.Phonenumber %> </td> </tr>

</table>