<h1>Search</h1>
<% if (allrecs.length > 0) {%>
<% allrecs.forEach((recref, index) => { %>
<product>
<table>
    <tr>	<td colspan="2"><%= recref.Productname %></td></tr>
    <tr>	<td colspan="2"><%= recref.RetailPrice %></td></tr>
    <tr>	<td><%= recref.Product_ID %> </td> <td><%= recref.Supplier_ID %></td> </tr>
    <tr>	<td><%= recref.ItemSold %> </td> <td><%= recref.Packaging %></td> </tr>
    <tr>	<td><%= recref.IsDiscontinued %></td>
<td><a href='/product/<%= recref.Product_ID>/show'>Details</a></td></tr>
</table>
</product>
<% }); %>
<% } else { %>
<p>Not Records Available</p>
<% } %>
