<% if (allrecs.length > 0) {%>
        <table>
            <tr>
                <th> Product ID </th>
                <th> Product Name </th>
                <th> Item Sold </th>
                <th> Retail Price </th>
                <th> Packaging </th>
            </tr>

        <% allrecs.forEach((recref, index) => { %>
            <tr>
                <td><%= recref.Product_ID %></td>
                <td><%= recref.Productname %></td>
                <td><%= recref.ItemSold %></td>
                <td><%= recref.RetailPrice %></td>
                <td><%= recref.Packaging %></td>
    
    <td> <a href='/product/<%= recref.Product_ID %>/show'>Details</a>
    </td> <td><a href='/product/<%= recref.Product_ID%>/edit'>Edit</a></td>
    <td> <a href='/product/<%= recref.Product_ID %>/delete' onclick="return confirm('Are you sure you want to delete this record?');">Delete</a></td>
        </tr>
        <% }); %>
        </table>
        <% } else { %>
            <p>Not Records Available</p>
        <% } %>

    <p> <a href='/product/addrecord'>Add New</a> </p>

   
    