<h1> Edit Product</h1>
<form action="/product/save" method="post">
<input type="hidden" name="Product_ID" value="<%= onerec.Product_ID %>" >
<table>

<tr> <td> Supplier ID: </td> <td> <input type="text" name="Supplier_ID" value="<%= onerec.Supplier_ID %>" required> </td> </tr>
<tr> <td> Product Name: </td> <td> <input type="text" name="Productname" value="<%= onerec.Productname %>" ></td> </tr>
<tr> <td> Item Sold: </td> <td> <input type="text" name="ItemSold" value="<%= onerec.ItemSold %>"></input> </td> </tr>
<tr> <td> Retail Price: </td> <td> <input type="text" name="RetailPrice" value="<%= onerec.RetailPrice %>" required> </td> </tr>
<tr> <td> Packaging: </td> <td> <input type="text" name="Packaging" value="<%= onerec.Packaging %>" required> </td> </tr>
<tr> <td> Homepage: </td> <td> 
                                <% if (onerec.homepage) { %>
                                    <input type="checkbox" name="homepage" checked >
                                <% } else { %>
                                    <input type="checkbox" name="homepage" > 
                                <% } %>
    </td> </tr>


    </table>
        <button type="submit">Save</button>
