<h1> Details </h1>
<table>
    <tr> <td> Product ID: </td> <td> <%= onerec.Product_ID %> </td> </tr>
    <tr> <td> Supplier ID: </td> <td> <%= onerec.Supplier_ID %> </td> </tr>
    <tr> <td> Product Name: </td> <td> <%= onerec.Productname %> </td> </tr>
    <tr> <td> Item Sold: </td> <td> <%= onerec.ItemSold %> </td> </tr>
    <tr> <td> Retail Price: </td> <td> <%= onerec.RetailPrice %> </td> </tr>
    <tr> <td> Packaging: </td> <td> <%= onerec.Packaging %> </td> </tr>
    <tr> <td> IsDiscontinued: </td> <td> <%= onerec.IsDiscontinued %> </td> </tr>

</table>