<h1> Edit Product</h1>
<form action="/customer/save" method="post">
<input type="hidden" name="ID" value="<%= onerec.ID %>" >
<table>
<tr> <td> First Name: </td> <td> <input type="text" name="FirstName" value="<%= onerec.FirstName %>" required> </td> </tr>
<tr> <td> Last Name: </td> <td> <input type="text" name="LastName" value="<%= onerec.LastName %>" required></input> </td> </tr>
<tr> <td> Address 1: </td> <td> <input name="Address1" value= "<%= onerec.Address1 %>" required></input> </td> </tr>
<tr> <td> Address 2: </td> <td> <input type="text" name="Address2" value="<%= onerec.Address2 %>" > </td> </tr>
<tr> <td> City: </td> <td> <input type="text" name="City" value="<%= onerec.City %>" required> </td> </tr>
<tr> <td> State: </td> <td> <input type="text" name="State" value="<%= onerec.State %>" required> </td> </tr>
<tr> <td> Zip Code: </td> <td> <input type="number" name="Zip" value="<%= onerec.Zip %>" required> </td> </tr>
<tr> <td> Country: </td> <td> <input type="text" name="Country" value="<%= onerec.Country %>" required> </td> </tr>
<tr> <td> Email: </td> <td> <input type="text" name="Email" value="<%= onerec.Email %>" required> </td> </tr>
<tr> <td> Phone Number: </td> <td> <input type="text" name="PhoneNumber" value="<%= onerec.PhoneNumber %>" required> </td> </tr>
<tr> <td> Username: </td> <td> <input type="text" name="Username" value="<%= onerec.Username %>" required> </td> </tr>
<tr> <td> Password: </td> <td> <input type="password" name="Password" value="<%= onerec.Password %>" required> </td> </tr>
    </table>
        <button type="submit">Save</button>
</form>

