<h1> Details </h1>
<table>
    <tr> <td> ID: </td> <td> <%= onerec.ID %> </td> </tr>
    <tr> <td> First Name: </td> <td> <%= onerec.FirstName %> </td> </tr>
    <tr> <td> Last Name: </td> <td> <%= onerec.LastName %> </td> </tr>
    <tr> <td> Address1: </td> <td> <%= onerec.Address1 %> </td> </tr>
    <tr> <td> Address 2: </td> <td> <%= onerec.Address2 %> </td> </tr>
    <tr> <td> City: </td> <td> <%= onerec.City %> </td> </tr>
    <tr> <td> State: </td> <td> <%= onerec.State %> </td> </tr>
    <tr> <td> Zip Code: </td> <td> <%= onerec.Zip %> </td> </tr>
    <tr> <td> Country: </td> <td> <%= onerec.Country %> </td> </tr>
    <tr> <td> Email: </td> <td> <%= onerec.Email %> </td> </tr>
    <tr> <td> Phone Number: </td> <td> <%= onerec.PhoneNumber %> </td> </tr>
    <tr> <td> Username: </td> <td> <%= onerec.Username %> </td> </tr>
    <tr> <td> Password: </td> <td> <%= onerec.Password %> </td> </tr>

</table>